# Artefactos de compilación de arduino-cli
build/
build_bank/
*.elf
*.bin
*.eep

# Sistema
.DS_Store
Thumbs.db

# Backups autogenerados de KiCad
*-backups/
*-bak
*.kicad_prl

# Editor local history y locks de KiCad
.history/
*.lck
~*.lck
